body {
  margin: auto;
  line-height: normal;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1920px;
  max-height: 4800px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.8);
  transform-origin: top;  
}

@media (max-width: 1920px) {
  body {
    transform: scale(0.8);
    height: calc(100vh / 1); }
}

:root {
  /* fonts */
  --h4: Poppins;

  /* font sizes */
  --h4-size: 22px;
  --p2-size: 16px;
  --h3-size: 28px;
  --p3-size: 14px;
  --p4-size: 12px;

  /* Colors */
  --color-white: #fff;
  --orange-normal: #e77844;
  --color-coral-100: rgba(231, 120, 68, 0.8);
  --color-coral-200: rgba(231, 120, 68, 0.7);
  --white-dark-hover: #999;
  --white-dark-active: #737373;
  --white-darker: #595959;

  /* Gaps */
  --gap-6xl: 25px;

  /* Border radiuses */
  --br-mini: 15px;
}
